@model FilmSistemi.Models.Comments

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">



    <h1>Yorumlar<small></small></h1>

</div>

<div class="panel panel-default">

    <div class="panel-heading">
        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CContent)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CContent)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NewUserId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NewUserId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Movies.MName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Movies.MName)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Sil" class="btn btn-bricky" />

                </div>
            }
        </div>
    </div>
</div>