@model FilmSistemi.Models.Comments

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="page-header">

    <a class="btn btn-danger pull-right" href="@Url.Action("Index", "Comments")"><i class="fa fa-reply   fa fa-white"></i></a>

    <h1>Yorum Listesi<small></small></h1>

</div>

<div class="panel panel-default">


    <div class="panel-heading">
        <i class="fa fa-external-link-square"></i>
        Yorumlar
        <div class="panel-tools">
            <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
            </a>
            <a class="btn btn-xs btn-link panel-refresh" href="#">
                <i class="fa fa-refresh"></i>
            </a>
            <a class="btn btn-xs btn-link panel-close" href="#">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="panel-body">

        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UserId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CContent)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CContent)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Movies.MName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Movies.MName)
                </dd>

            </dl>
        </div>

    </div>
</div>