@model FilmSistemi.Models.Comments

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">

    <a class="btn btn-warning pull-right" href="@Url.Action("index", "Comments")"><i class="fa fa-eye    fa fa-white"></i></a>

    <h1>Yorumlar<small></small></h1>

</div>

<div class="panel panel-default">

    <div class="panel-heading">
        <div>
    
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CContent)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CContent)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NewUserId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NewUserId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Movies.MName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Movies.MName)
                </dd>

            </dl>
        </div>

    </div>
</div>