@model FilmSistemi.Models.News

@{
    ViewBag.Title = "Haber / Sil";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
