@using FilmSistemi.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <div class="login">
                <p class="login__title">Giris <br><span class="login-edition">Hosgeldiniz</span></p>
                <div class="field-wrap">
                    @Html.TextBoxFor(m => m.Email, new { @class = "login__input", @placeholder = "Email" })
                    <br />
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    <br />
                    @Html.PasswordFor(m => m.Password, new { @class = "login__input", @placeholder = "Şifre" })
                    <br />
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <br /><br /><br />
                <div class="login__control">
                    <input type="submit" value="Giris" class="btn btn-md btn--warning btn--wider" />
                </div>

                <br /><br /><br />
            </div>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}