@model FilmSistemi.Areas.Admin.Models.SliderModel

@{
    ViewBag.Title = "Slider / Yeni";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">


    <a class="btn btn-danger pull-right" href="@Url.Action("index", "Slider")"><i class="fa fa-reply    fa fa-white"></i></a>
    <h1>Haber<small></small></h1>

</div>

<div class="panel panel-default">


    <div class="panel-heading">
        <i class="fa fa-external-link-square"></i>
        Haber Ekle
        <div class="panel-tools">
            <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
            </a>
            <a class="btn btn-xs btn-link panel-refresh" href="#">
                <i class="fa fa-refresh"></i>
            </a>
            <a class="btn btn-xs btn-link panel-close" href="#">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="panel-body ">


        @using (Html.BeginForm("Create", "Slider", FormMethod.Post, new
        {
            @class = "smart-wizard form-horizontal",
            enctype = "multipart/form-data"
        }))

        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.İmage, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.İmage, new { @class = "form-control", Type = "file" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MovieId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MovieId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MovieId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Ekle" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>