@model FilmSistemi.Models.FilmIndexModel
@{
    ViewBag.Title = "Home Page";
}

<body>
    <!-- Slider -->
    
    @{
        string LangRoute;
        if (@ViewContext.RouteData.Values["lang"] == null)
        {
            LangRoute = "tr";
        }
        else
        {
            LangRoute = @ViewContext.RouteData.Values["lang"].ToString();
        }

    }
    <div class="bannercontainer">
        <div class="banner">
            <ul>
                @foreach (var item in Model.Slider)
            {
                    <li data-transition="fade" data-slotamount="7" class="slide" data-slide='Rush.'>
                        <img alt='' src="~/Content/slider/@item.İmage">
                        <div class="caption slide__name margin-slider"
                             data-x="right"
                             data-y="80"
                             data-splitin="chars"
                             data-elementdelay="0.1"
                             data-speed="700"
                             data-start="1400"
                             data-easing="easeOutBack"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                             data-frames="{ typ :lines;
                                                 elementdelay :0.1;
                                                 start:1650;
                                                 speed:500;
                                                 ease:Power3.easeOut;
                                                 animation:x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                 },
                                                 { typ :lines;
                                                 elementdelay :0.1;
                                                 start:2150;
                                                 speed:500;
                                                 ease:Power3.easeOut;
                                                 animation:x:0;y:0;z:0;rotationX:00;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                 }
                                                 "
                             data-splitout="lines"
                             data-endelementdelay="0.1"
                             data-customout="x:-230;y:0;z:0;rotationX:0;rotationY:0;rotationZ:90;scaleX:0.2;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%"
                             data-endspeed="500"
                             data-end="8400"
                             data-endeasing="Back.easeIn">
                            @item.Movies.MName
                        </div>

                        <div class="caption slide__text margin-slider customin customout"
                             data-x="right"
                             data-y="200"
                             data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="400"
                             data-start="3000"
                             data-endspeed="400"
                             data-end="8000"
                             data-endeasing="Back.easeIn">
                            @item.NewText
                        </div>
                        <div class="caption margin-slider skewfromright customout "
                             data-x="right"
                             data-y="324"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="400"
                             data-start="3300"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-end="7700"
                             data-endeasing="Power4.easeOut">
                            <a href="/@LangRoute/moviepage/index/@item.MovieId" class="btn btn-md btn--danger btn--wide slider--btn">@Resources.Home.daha_fazlasi</a>
                        </div>

                    </li>
                }


            </ul>
        </div>
    </div>

    <!--end slider -->
    <!-- Main content -->

    <section class="container">
        <div class="movie-best">
            <div class="col-sm-10 col-sm-offset-1 movie-best__rating">@Resources.Home.gun_en_iyi</div>
            <div class="col-sm-12 change--col">
                <div class="movie-beta__item ">
                    @if (Model.BestMovies[0].MBanner != null)
                    {
                        <img alt='' style="height:300px;" src="data:image/png;base64,@System.Convert.ToBase64String(Model.BestMovies[0].MBanner)">
                    }
                    else
                    {
                        <img alt='' src="http://placehold.it/380x600">
                    }

                    <span class="best-rate">@Model.BestMovies[0].Stars.Average(x => x.Star)</span>

                    <ul class="movie-beta__info" style="width:100%;">
                        <li>
                            <span class="best-voted">@Model.BestMovies[0].MName</span>
                        </li>
                        <li>
                            <p class="movie__time">@Model.BestMovies[0].MMinute @Resources.Home.dk</p>
                            <p>
                                @foreach (var item in Model.BestMovies[0].MovieCategory)
                                {
                                    @item.Categories.CName<span> | </span>
                                }
                            </p>
                            <p>@Model.BestMovies[0].Comments.Count() comments</p>
                        </li>
                        <li class="last-block">
                            <a href="~/@LangRoute/moviepage/index/@Model.BestMovies[0].MovieId" class="slide__link">@Resources.Home.daha_fazlasi</a>
                        </li>
                    </ul>
                </div>
                <div class="movie-beta__item second--item">
                    @if (Model.BestMovies[1].MBanner != null)
                    {
                        <img alt='' style="height:300px;" src="data:image/png;base64,@System.Convert.ToBase64String(Model.BestMovies[1].MBanner)">
                    }
                    else
                    {
                        <img alt='' src="http://placehold.it/380x600">
                    }
                    <span class="best-rate">@Model.BestMovies[1].Stars.Average(x => x.Star)</span>

                    <ul class="movie-beta__info" style="width:100%;">
                        <li>
                            <span class="best-voted">@Model.BestMovies[1].MName</span>
                        </li>
                        <li>
                            <p class="movie__time">@Model.BestMovies[1].MMinute @Resources.Home.dk</p>
                            <p>
                                @foreach (var item in Model.BestMovies[1].MovieCategory)
                                {
                                    @item.Categories.CName<span> | </span>
                                }
                            </p>
                            <p>@Model.BestMovies[1].Comments.Count() comments</p>
                        </li>
                        <li class="last-block">
                            <a href="~/@LangRoute/moviepage/index/@Model.BestMovies[1].MovieId" class="slide__link">@Resources.Home.daha_fazlasi</a>
                        </li>
                    </ul>
                </div>
                <div class="movie-beta__item third--item">
                    @if (Model.BestMovies[2].MBanner != null)
                    {
                        <img alt='' style="height:300px;" src="data:image/png;base64,@System.Convert.ToBase64String(Model.BestMovies[2].MBanner)">
                    }
                    else
                    {
                        <img alt='' src="http://placehold.it/380x600">
                    }
                    <span class="best-rate">@Model.BestMovies[2].Stars.Average(x => x.Star)</span>

                    <ul class="movie-beta__info" style="width:100%;">
                        <li>
                            <span class="best-voted">@Model.BestMovies[2].MName</span>
                        </li>
                        <li>
                            <p class="movie__time">@Model.BestMovies[2].MMinute @Resources.Home.dk</p>
                            <p>
                                @foreach (var item in Model.BestMovies[2].MovieCategory)
                                {
                                    @item.Categories.CName<span> | </span>
                                }
                            </p>
                            <p>@Model.BestMovies[2].Comments.Count() comments</p>
                        </li>
                        <li class="last-block">
                            <a href="~/@LangRoute/moviepage/index/@Model.BestMovies[2].MovieId" class="slide__link">@Resources.Home.daha_fazlasi</a>
                        </li>
                    </ul>
                </div>
                <div class="movie-beta__item hidden-xs">
                    @if (Model.BestMovies[3].MBanner != null)
                    {
                        <img alt='' style="height:300px;" src="data:image/png;base64,@System.Convert.ToBase64String(Model.BestMovies[3].MBanner)">
                    }
                    else
                    {
                        <img alt='' src="http://placehold.it/380x600">
                    }
                    <span class="best-rate">@Model.BestMovies[3].Stars.Average(x => x.Star)</span>

                    <ul class="movie-beta__info" style="width:100%;">
                        <li>
                            <span class="best-voted">@Model.BestMovies[3].MName</span>
                        </li>
                        <li>
                            <p class="movie__time">@Model.BestMovies[3].MMinute @Resources.Home.dk</p>
                            <p>
                                @foreach (var item in Model.BestMovies[3].MovieCategory)
                                {
                                    @item.Categories.CName<span> | </span>
                                }
                            </p>
                            <p>@Model.BestMovies[3].Comments.Count() comments</p>
                        </li>
                        <li class="last-block">
                            <a href="~/@LangRoute/moviepage/index/@Model.BestMovies[3].MovieId" class="slide__link">@Resources.Home.daha_fazlasi</a>
                        </li>
                    </ul>
                </div>
                <div class="movie-beta__item hidden-xs hidden-sm">
                    @if (Model.BestMovies[4].MBanner != null)
                    {
                        <img alt='' style="height:300px;" src="data:image/png;base64,@System.Convert.ToBase64String(Model.BestMovies[4].MBanner)">
                    }
                    else
                    {
                        <img alt='' src="http://placehold.it/380x600">
                    }
                    <span class="best-rate">@Model.BestMovies[4].Stars.Average(x => x.Star)</span>

                    <ul class="movie-beta__info" style="width:100%;">
                        <li>
                            <span class="best-voted">@Model.BestMovies[4].MName</span>
                        </li>
                        <li>
                            <p class="movie__time">@Model.BestMovies[4].MMinute @Resources.Home.dk</p>
                            <p>
                                @foreach (var item in Model.BestMovies[4].MovieCategory)
                                {
                                    @item.Categories.CName<span> | </span>
                                }
                            </p>
                            <p>@Model.BestMovies[4].Comments.Count() comments</p>
                        </li>
                        <li class="last-block">
                            <a href="~/@LangRoute/moviepage/index/@Model.BestMovies[4].MovieId" class="slide__link">@Resources.Home.daha_fazlasi</a>
                        </li>
                    </ul>
                </div>
                <div class="movie-beta__item hidden-xs hidden-sm">
                    @if (Model.BestMovies[1].MBanner != null)
                    {
                        <img alt='' style="height:300px;" src="data:image/png;base64,@System.Convert.ToBase64String(Model.BestMovies[5].MBanner)">
                    }
                    else
                    {
                        <img alt='' src="http://placehold.it/380x600">
                    }
                    <span class="best-rate">@Model.BestMovies[5].Stars.Average(x => x.Star)</span>

                    <ul class="movie-beta__info" style="width:100%;">
                        <li>
                            <span class="best-voted">@Model.BestMovies[5].MName</span>
                        </li>
                        <li>
                            <p class="movie__time">@Model.BestMovies[5].MMinute @Resources.Home.dk</p>
                            <p>
                                @foreach (var item in Model.BestMovies[5].MovieCategory)
                                {
                                    @item.Categories.CName<span> | </span>
                                }
                            </p>
                            <p>@Model.BestMovies[5].Comments.Count() comments</p>
                        </li>
                        <li class="last-block">
                            <a href="~/@LangRoute/moviepage/index/@Model.BestMovies[5].MovieId" class="slide__link">@Resources.Home.daha_fazlasi</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1 movie-best__check">check all movies now playing</div>
        </div>

        <div class="clearfix"></div>

        <h2 id='target' class="page-heading heading--outcontainer">@Resources.Home.suan_oynayan_filmler</h2>

        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 ">
                    <!-- Movie variant with time -->
                    @for (int i = 0; i < Model.LastMovies.Count(); i++)
                    {
                        <div class="movie movie--test movie--test--dark movie--test--left">
                            <div class="movie__images">
                                <a href="~/@LangRoute/moviepage/index/@Model.LastMovies[i].MovieId" class="movie-beta__link">
                                    @if (Model.LastMovies[i].MBanner != null)
                                    {
                                        <img alt='' style="height:236px;" src="data:image/png;base64,@System.Convert.ToBase64String(Model.LastMovies[i].MBanner)">
                                    }
                                    else
                                    {
                                        <img alt='' src="http://placehold.it/424x424">
                                    }
                                </a>
                            </div>

                            <div class="movie__info">
                                <a href='~/@LangRoute/moviepage/index/@Model.LastMovies[i].MovieId' class="movie__title">@Model.LastMovies[i].MName (@String.Format("{0:yyyy}", @Model.LastMovies[i].MReleaseDate))  </a>

                                <p class="movie__time">@Model.LastMovies[i].MMinute @Resources.Home.dk</p>

                                <p class="movie__option">
                                    @foreach (var category in Model.LastMovies[i].MovieCategory)
                                    {
                                        @category.Categories.CName<span> | </span>
                                    }
                                </p>

                                <div class="movie__rate">
                                    <div class="score"></div>
                                    <span class="movie__rating">@Model.LastMovies[i].Stars.Average(x => x.Star)</span>
                                </div>
                            </div>
                        </div>
                    }

                </div>


            </div>
        </div>

        <div class="col-sm-12">
            <h2 class="page-heading">@Resources.Home.son_haberler</h2>

            <div class="col-sm-4 similar-wrap col--remove">
                <div class="post post--preview post--preview--wide">
                    <div class="post__image">
                        <img alt='' src="http://placehold.it/270x330">
                        <div class="social social--position social--hide">
                            <span class="social__name">@Resources.Home.paylas:</span>
                            <a href='#' class="social__variant social--first fa fa-facebook"></a>
                            <a href='#' class="social__variant social--second fa fa-twitter"></a>
                            <a href='#' class="social__variant social--third fa fa-vk"></a>
                        </div>
                    </div>
                    <p class="post__date">22 October 2013 </p>
                    <a href="SingleNews" class="post__title">"Thor: The Dark World" - World Premiere</a>
                    <a href="SingleNews" class="btn read-more post--btn">@Resources.Home.daha_fazlasi</a>
                </div>
            </div>
            <div class="col-sm-4 similar-wrap col--remove">
                <div class="post post--preview post--preview--wide">
                    <div class="post__image">
                        <img alt='' src="http://placehold.it/270x330">
                        <div class="social social--position social--hide">
                            <span class="social__name">@Resources.Home.paylas :</span>
                            <a href='#' class="social__variant social--first fa fa-facebook"></a>
                            <a href='#' class="social__variant social--second fa fa-twitter"></a>
                            <a href='#' class="social__variant social--third fa fa-vk"></a>
                        </div>
                    </div>
                    <p class="post__date">22 October 2013 </p>
                    <a href="SingleNews" class="post__title">30th Annual Night Of Stars Presented By The Fashion Group International</a>
                    <a href="SingleNews" class="btn read-more post--btn">@Resources.Home.daha_fazlasi</a>
                </div>
            </div>
            <div class="col-sm-4 similar-wrap col--remove">
                <div class="post post--preview post--preview--wide">
                    <div class="post__image">
                        <img alt='' src="http://placehold.it/270x330">
                        <div class="social social--position social--hide">
                            <span class="social__name">@Resources.Home.paylas :</span>
                            <a href='#' class="social__variant social--first fa fa-facebook"></a>
                            <a href='#' class="social__variant social--second fa fa-twitter"></a>
                            <a href='#' class="social__variant social--third fa fa-vk"></a>
                        </div>
                    </div>
                    <p class="post__date">22 October 2013 </p>
                    <a href="SingleNews" class="post__title">Hollywood Film Awards 2013</a>
                    <a href="SingleNews" class="btn read-more post--btn">@Resources.Home.daha_fazlasi</a>
                </div>
            </div>
        </div>

    </section>

    <div class="clearfix"></div>

    @section scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                init_Home();
            });
        </script>
    }
</body>