@model IEnumerable<FilmSistemi.Models.MovieCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categories.CName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movies.MName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categories.CName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movies.MName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MovieCategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MovieCategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MovieCategoryId })
        </td>
    </tr>
}

</table>
