@model FilmSistemi.Models.MovieListModel

@{
    ViewBag.Title = "movielist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <!-- Main content -->
    <section class="container">
        <div class="col-sm-12">
            <h2 class="page-heading">Movies</h2>
            

            @foreach (var item in Model.Movies)
            {
                    <!-- Movie preview item -->
                <div class="movie movie--preview movie--full release">
                    <div class="col-sm-3 col-md-2 col-lg-2">
                        <div class="movie__images">
                            @if (item.MBanner != null)
                            {
                                <img alt='' src="data:image/png;base64,@System.Convert.ToBase64String(item.MBanner)">
                            }
                            else
                            {
                                <img alt='' src="http://placehold.it/380x600">
                            }


                        </div>
                        <div class="movie__feature">
                            <a href="/moviepage/@item.MovieId" class="movie__feature-item movie__feature--comment">
                                @foreach (var comment in Model.Comments)
                                {
                                    if (item.MovieId == comment.MovieId)
                                    {
                                        @comment.CommentCount
                                    }
                                }
                            </a>
                            <a href="/moviepage/@item.MovieId" class="movie__feature-item movie__feature--video">@item.Videos.Count()</a>
                            <a href="/moviepage/@item.MovieId" class="movie__feature-item movie__feature--photo">@item.MoviePicture.Count()</a>
                        </div>
                    </div>

                    <div class="col-sm-9 col-md-10 col-lg-10 movie__about">
                        @Html.ActionLink(@item.MName, "Index", "MoviePage", new { id = item.MovieId }, new { @class = "movie__title link--huge" })

                        <p class="movie__time">@item.MMinute min</p>

                        <p class="movie__option"><strong>Country: </strong><a href="#">@item.MCountry</a></p>
                        <p class="movie__option">
                            <strong>Category: </strong>
                            @foreach (var category in Model.MovieCategory)
                            {
                                if (category.MovieId == item.MovieId)
                                {
                                    if (category.Categories != null)
                                    {
                                        <a href="#">@category.Categories.CName</a><span>,</span>
                                    }
                                }
                            }
                        </p>
                        <p class="movie__option"><strong>Release date: </strong>@String.Format("{0:d}", @item.MReleaseDate)</p>
                        <p class="movie__option"><strong>Director: </strong><a href="#">@item.MDirector</a></p>
                        <p class="movie__option">
                            <strong>Actors: </strong>
                            @foreach (var actor in Model.ActorMovie)
                            {
                                if (actor.MovieId == item.MovieId)
                                {
                                    if (actor.Actors != null)
                                    {
                                        <a href="#">@actor.Actors.ActorName</a><span>, </span>
                                    }
                                }
                            }
                        </p>
                        <br />


                        <div class="movie__rate">
                            <span class="movie__rating">
                                @foreach (var star in Model.Stars)
                                {
                                    if (star.MovieId == item.MovieId)
                                    {
                                        @star.StarAvg
                                    }
                                }
                            </span>
                            <span class="movie__rate-number">


                                @foreach (var vote in Model.Stars)
                                {
                                    if (vote.MovieId == item.MovieId)
                                    {
                                        @vote.Vote
                                    }

                                } votes
                            </span> 
                        </div>

                    </div>

                    <div class="clearfix"></div>

                </div>
                    <!-- end movie preview item -->
            }

            <div class="coloum-wrapper">
                <div class="pagination paginatioon--full">
                    <a href='#' class="pagination__prev">prev</a>
                    <a href='#' class="pagination__next">next</a>
                </div>
            </div>

        </div>

    </section>

    <div class="clearfix"></div>
    @section scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                init_MovieList();
            });
        </script>
    }
</body>